@import url('https://fonts.googleapis.com/css2?family=Lexend+Peta:wght@400;800&display=swap');

/* :root {
  --primary-font: 'Lexend Peta', sans-serif;
} */

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  min-height: 100vh;
  background-color: black;
  font-family: Roboto;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description .name {
  font-size: 50px;
  padding-bottom: 20px;
  font-family: Lexend Peta, sans-serif;
}

.description .title {
  padding-top: 80px;
  padding-bottom: 30px;
  font-size: 25px;
}

.description .links {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  gap: 20px;
}

.buttonDisabled {
  border: 1px solid #0bd5f8;
  background-color: transparent;
  color: #0bd5f8;
  border-radius: 6px;
  width:100%;
  height: 36px;
  transition: 0.5s;

}
  .buttonDisabled:hover {
      border: 1px solid #0bd5f8;
      background-color: #0bd5f8;
      box-shadow: 0 0 8px #0bd5f8;
      color: black;
      border-radius: 6px;
      width:100%;
      height: 36px;
  }
.link__logo {
  display: flex;
  
}
.logo {
  width: 50%;
  color: white;
  background-color: transparent;
  border: none;
}
.logo:hover {
  color: rgb(136, 136, 136);
}

.link {
  text-decoration: none;
  transition: all 0.2s;
  background-color: transparent;
  border: 0;
}
.link:hover {
  transform: scale(1.1)
}


@media (max-width: 500px) {
  .description {
    padding-top: 150px;
  }
  .description .name {
    font-size: 29px;
  }

  .description .title {
    font-size: 20px;
  }
}